html,body
  height 10000px
#headerContainer
  width 100%
  height 44px
  .container
    display flex
    align-items center
    .logo
      height 20px
      margin-left 12px
    .search
      display flex
      align-items center
      justify-content center
      background #EDEDED
      color #666666
      border 1px solid #EDEDED
      margin: 10px 8px;
      border-radius: 4px;
      padding: 4px 8px;
    .login_denglu
    .placeholder
      font-size 14px
      padding 2px 8px
      .login
        font-size 12px
        width 30px
        height 14px
        line-height 14px
        color #B4282D
        border 1px solid #B4282D
        padding 2px 2px
        border-radius 5px
        text-align center
#listContainer
  width 100%
  height 30px
  display flex
  .item
    font-size 14px
    color #333333
    margin: 7px 13px
  .icon-icon_arrow_right
    position: absolute;
    top: 49px;
    right: 16px;
    font-size: 20px;
    color #333333
  .item_red
    color red

.swiper-container
  .swiper-wrapper
    .swiper-slide
      img
        width 100%
        height 185px
#logistics
  width 100%
  height 36px
  display flex
  align-items center
  .logistics_item
    color #333333
    margin-right: 16px;
    margin-left: 9px;
    .iconfont
      color red
    span
      font-size 12px
#classify
  width 100%
  height 170px
  display flex
  flex-wrap wrap
  .classify_item
    width 55px
    height 78px
    margin: 5px 10px;
    img
      width 55px
      height 55px
    span
      font-size 10px
      text-align center
      margin-left: 7px;
#advertising
  width 100%
  height 63px
  .img
    width 100%
    height 100%
#footer
  display flex
  width 100%
  height 49px
  position fixed
  left 0
  bottom 0
  background white
  .footer_item
    display flex
    width 20%
    height 35px
    flex-direction column
    align-items center
    margin 7px
  .iconfont
    font-size 20px
  span
    font-size 12px
    margin 3px
  .footer_item_i
    color red
  .icon-weibiaoti-
    color red
#bargain
  width 100%
  height 288px
  padding 20px 20px
  box-sizing border-box
  .bargain_list
    width 100%
    display flex
    flex-wrap wrap
    .bargain_item
      margin 2px 1px
      background #F5F5F5
      width 49%
      height 132px
      .bargain_big
        font-size 16px
        color #333333
        margin 10px 10px
      .bargain_small
        font-size 12px
        color #7F7F7F
        margin-top: 7px;
        margin: 10px 10px;
      img
        width 75px
        height 75px
#bian
  width 100%
  height 10px
  background #F5F5F5
.private
  box-sizing border-box
  .title
    width 100%
    height 50px
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    padding: 27px 20px;
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .private_custom
          display flex
          width 100%
          height 155px
          .private_pic
            width 108px
            height 155px
            margin: 5px 8px;
            img
              width 108px
              height 108px
              background #F5F5F5
            span
              font-size 12px
#limited
  width 100%
  height 50px
  .limited_time
    float left
    margin: 15px 20px;
  .limited_more
    width 60px
    height 15px
    float right
    margin: 15px 10px;
    span
      display block
      color #333333
      font-size 14px
      float left
    iconfont
      float right
#limitedgoods
  display flex
  width 100%
  height 300px
  .limitedlist
    display flex
    flex-wrap wrap
    .limiteditem
      width 108px
      height 150px
      margin-left: 13px;
      img
        width 108px
        height 108px
        background #F5F5F5
      span
        font-size 14px
#newgoods
  width 100%
  height 50px
  .newgoods_left
    float left
    font-size 16px
    margin: 20px 20px
  .newgoods_right
    float right
    font-size 14px
    margin: 20px 20px
#newgoods_custom
  display flex
  width 100%
  height 300px
  .newgoodslist
    display flex
    flex-wrap wrap
    .newgoodsitem
      width 108px
      height 150px
      margin-left 13px
      img
        width 108px
        height 108px
        background #F5F5F5
      span
        font-size 14px
#welcome
  width 100%
  .welcome_top
    overflow hidden
    .welcome_left
      float left
      font-size 16px
      margin: 20px 20px
    .welcome_right
      float right
      font-size 14px
      margin: 20px 20px
  .welcome_middle
    display flex
    width 100%
    height 140px
    background #FEF0DF
    border 15px solid white
    box-sizing border-box
    img
      width 120px
      height 120px
    .welcome_bottom
      margin: 26px 28px;
      .welcome_one
        font-size 10px
        color #B4282D
        background rgba(255,255,255,0.9)
        border 1px solid #B4282d
        border-radius: 3px;
      .welcome_two
        font-size 14px
        color #333333
      .welcome_three
        font-size 12px
        color #7f7f7f
      .welcome_four
        font-size 14px
        color #B4282D
  .welcome_things
    display flex
    width 100%
    height 120px
    .welcomelist
      display flex
      flex-wrap wrap
      .welcomeitem
        display flex
        flex-direction column
        width 108px
        height 120px
        margin-left 13px
        img
          width 108px
          height 108px
          background #F5F5F5
        span
          font-size 14px
  .sales
    border 1px solid red
    display inline-block
    font-size 10px
    padding: 4px 4px;
    border-radius: 7px;
    margin: 10px 10px;
#hotsale
  width 100%
  .hotsale_title
    font-size 16px
    color #333333
    margin: 20px 20px
  .hotsale_middle
    margin-left 13px
    display flex
    .hotsale_left1
      background #F9F3E4
      display flex
      width 170px
      height 100px
      .hotsale_left2
        font-size 14px
        color #333333
        margin 35px 5px
      img
        width 100px
        height 100px
    .hotsale_right1
      background #EBEFF6
      display flex
      width 170px
      height 100px
      margin-left: 6px;
      .hotsale_right2
        font-size 14px
        color #333333
        margin 35px 5px
      img
        width 100px
        height 100px
  .hotsale_foot
    .hotsale_list
      display flex
      flex-wrap wrap
      .hotsale_item
        margin: 5px 5px;
        display flex
        flex-direction column
        width 82px
        height 90px
        background #F5F5F5
        align-items: center;
        img
          width 60px
          height 60px
        span
          font-size 12px

















